body {
	background-color: blue;
}

.big_photo {
	height: 250px;
	width: 250px;
	border-radius: 25px;
}

.medium_photo {
	height: 150px;
	width: 150px;
	border-radius: 25px;
}

.listing_photos {
	display: inline-block;
}

.small_photo {
	height: 100px;
	width: 100px;
	display: inline-block;
}

.tiny_photo {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	border: 2px solid black;
}

img {
	height: 100px;
	width: 100px;
}
 
#map {
	border: 3px solid black;
	border-radius: 25px;
  	height: 300px;
  	width: 300px;
  	margin-left: auto;
  	margin-right: auto;
}

#main_map {
	border-radius: 25px;
  	height: 300px;
  	width: 300px;
  	margin-left: auto;
  	margin-right: auto;
}

.popup {
	/*position: absolute;*/
	margin-left: auto;
	margin-right: auto;
/*	display: inline-block;*/
	width: 30%;
	height: 30%;
/*	top: 50%;*/
	visibility: hidden;

}

#popup {
	border: 3px solid black;
	border-radius: 50px;
	background: #66B380;
	visibility: visible;
	padding: 15px;
	text-align: center;
}

a {
	color: black;
}

.profile {
	border: 10px solid black;
	text-align: center;
}

.friends_in_house {
	display: inline-block;
	text-align: center;
}

.roommates {
	display: inline-block;
	text-align: center;
}

#chat_form {
	border: 3px solid black;
	border-radius: 25px;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	background: grey;
	text-align: center;
	padding: 10px;
}

#search_form {
	border: 3px solid black;
	border-radius: 25px;
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
	background: #B19CD9;
	text-align: center;
	padding: 15px;
	width: 60%;
}


.message_thread {
	display: inline-block;
	border: 5px solid black;
	padding: 10px;
	border-radius: 25px;
	text-align: center;
	vertical-align: top;
}

.new_message_thread {
	display: inline-block;
	border: 5px solid purple;
	padding: 10px;
	border-radius: 25px;
	text-align: center;
	vertical-align: top;
}

.listing_description {
	border: 10px solid black;
	text-align: center;
}

#results {
	text-align: center;
}

body {
	text-align: center;
	color: black;
	font: arial;
}

.conversation {
	padding: 5px;
	height: 100px;
	overflow: auto;
	margin: 10px;
}

.search_button {
	border-radius: 25%;
	border: 1px solid black;
	background-color: #66B380;
}

.round_search_button {
	border-radius: 50%;
	border: 1px solid black;
	background-color: #66B380;
}

.flashes {
	background-color: red;
}

.navbar {
	background: #B19CD9;
	color: black;
}
/*button {
	background-color: black;
	color: blue;
}*/


/*#update_state {
	background-image: url("/static/images/map.jpg");
	background-size: 200px 200px;
	width: 25%;
	height: 25%;
}
*/