body {
	background-color: #E6E6FA;
	text-align: center;
	color: black;
	font-family: 'Josefin Sans', sans-serif;
}

.big_photo {
	height: 300px;
	width: 300px;
	border-radius: 25px;
}

.medium_photo {
	height: 150px;
	width: 150px;
	border-radius: 25px;
}

.listing_photos {
	display: inline-block;
}

.small_photo {
	height: 100px;
	width: 100px;
	display: inline-block;
	border-radius: 25px;
}

.tiny_photo {
	border-radius: 50%;
	height: 70px;
	width: 70px;
	border: 2px solid black;
}

.side_by_side {
	display: inline-block;
	margin: 1%;
}

img {
	height: 100px;
	width: 100px;
}
 
#map {
	border: 3px solid black;
	border-radius: 25px;
  	height: 300px;
  	width: 300px;
  	margin-left: auto;
  	margin-right: auto;
}

#main_map {
	border-radius: 25px;
  	height: 300px;
  	width: 300px;
  	margin-left: auto;
  	margin-right: auto;
}


.popup {
	/*position: absolute;*/
	margin-left: auto;
	margin-right: auto;
/*	display: inline-block;*/
	width: 300px;
/*	height: 30%;*/
/*	top: 50%;*/
	visibility: hidden;

}

.corner {
	position: absolute;
	top: 0;
	right: 0;
}

#popup {
	border: 3px solid black;
	border-radius: 50px;
	background: #66B380;
	visibility: visible;
	padding: 15px;
	text-align: center;
}

a {
	color: black;
}

.profile {
	border: 10px solid black;
	text-align: center;
	border-radius: 25px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
/*	border: 5px solid #8B008B;
	background: #B19CD9;*/
}

.profile_pic {
	border: 15px solid #153131;
}

.friends_in_house {
	display: inline-block;
	text-align: center;
}


.roommates {
	display: inline-block;
	text-align: center;
}

#chat_form {
	border: 3px solid black;
	border-radius: 25px;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	background: #66B380;
	text-align: center;
	padding: 10px;
}

#search_form {
	border: 5px solid #8B008B;
	border-radius: 25px;
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
	background: #B19CD9;
	text-align: center;
	padding: 15px;
	width: 70%;
}

.registration_form {
	border: 5px solid #8B008B;
	border-radius: 25px;
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
	background: #B19CD9;
	text-align: center;
	padding: 15px;
	width: 60%;
}

.listing_form {
	border: 5px solid #8B008B;
	border-radius: 25px;
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
	background: #B19CD9;
	text-align: center;
	padding: 15px;
	width: 60%;
}

.message_thread {
	display: inline-block;
	border: 5px solid black;
	padding: 25px 5px;
	border-radius: 10px;
	text-align: center;
	vertical-align: top;
	position: relative;
}

.new_message_thread {
	display: inline-block;
	border: 5px solid #8B008B;
	padding: 10px;
	border-radius: 25px;
	text-align: center;
	vertical-align: top;
}

.listing_description {
	margin: 15px;
	border: 10px solid black;
	text-align: center;
	border-radius: 25px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#results {
	text-align: center;
}

.photo_input {
	margin: auto;
}

.conversation {
	padding: 5px;
	height: 100px;
	overflow: auto;
	margin: 10px;
}

.search_button {
	border-radius: 25%;
	border: 3px solid black;
	background-color: #66B380;
}

.pink_button {
	border-radius: 50%;
	border: 3px solid #FF1493;
	background-color: #FFC0CB;
	padding: 10px;
}

.purple_button {
	border-radius: 25%;
	border: 3px solid black;
	background-color: #B19CD9;
}

.round_search_button {
	border-radius: 50%;
	border: 3px solid black;
	background-color: #66B380;
}

.flashes {
	margin: 10px;
	background-color: black;
	color: white;
	border: 2px solid black;
	border-radius: 10px;
	height: 30px;
}

.navbar {
	background: #B19CD9;
	color: black;
	border: 5px solid #8B008B;
}

.dropdown-menu {
	background: #B19CD9;
	color: black;
}

.modal-footer {
	text-align: center;
}

#results {
	border: 10px solid black;
	text-align: center;
	border-radius: 25px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
/*.dropdown {
	background: #B19CD9;
	color: black;
}*/
/*button {
	background-color: black;
	color: blue;
}*/


/*#update_state {
	background-image: url("/static/images/map.jpg");
	background-size: 200px 200px;
	width: 25%;
	height: 25%;
}
*/