body {
	background-color: blue;
}

.big_photo {
	height: 300px;
	width: 300px;
}

.small_photo {
	height: 100px;
	width: 100px;
	display: inline-block;
}

.tiny_photo {
	height: 50px;
	width: 50px;
}

img {
	height: 100px;
	width: 100px;
}
 
#map {
  height: 300px;
  width: 300px;
}

#main_map {
  height: 300px;
  width: 300px;
}

#popup {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 200px;
    height: 400px;
}

a {
	color: black;
}
