body {
	background-color: blue;
}

.big_photo {
	height: 300px;
	width: 300px;
}

.small_photo {
	height: 100px;
	width: 100px;
	display: inline-block;
}

.tiny_photo {
	height: 50px;
	width: 50px;
}

img {
	height: 100px;
	width: 100px;
}
 
#map {
	border: 3px solid black;
	border-radius: 25px;
  	height: 300px;
  	width: 300px;
}

#main_map {
	border: 3px solid black;
	border-radius: 25px;
  	height: 300px;
  	width: 300px;
}

#popup {
	position: relative;
	right: 50%;
}

a {
	color: black;
}

.profile {
	border: 10px solid black;
	text-align: center;
}

#chat_form {
	border: 3px solid black;
	border-radius: 25px;
	margin: 5px;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	background: grey;
	text-align: center;
}

#search_form {
	border: 3px solid black;
	border-radius: 25px;
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
	background: purple;
	text-align: center;
}

.message_thread {
	display: inline-block;
	border: 10px solid black;
	text-align: center;
}