
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALsH-wBDg1jGymSzRN4cIL8rTVQo87PwM"></script>
    <title>{% block title %} title goes here {% endblock %}</title>
</head>
  {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
          </ul>
      {% endif %}
  {% endwith %}
<body>
  {% block content %} put your content here {% endblock %}
<div class="popup">
</div>
</body>
</html>

