<!-- {% extends 'base.html' %}
{% block title %}Create Your Profile{% endblock %}
{% block content %}

<div class="listing_form">
Tell us a little about your place: 
<form action="/make_listing_profile" method="POST" enctype="multipart/form-data">
Listing Name (A unique way to identify your place):<br>
	<input type="text" name="listing_name" required><br>
Address:<br>
	<input type="text" name="address" required><br>
Neighborhood:<br>
	<input type="text" name="neighborhood" required><br>
Price per month:<br>
	<input type="text" name="price" required><br>
Available as of:<br>
	<input type="date" name="avail_date"><br>
Length of Rental: <br>
	<input type="radio" name="duration" value="1"> ~ 1 month 
	<input type="radio" name="duration" value="3"> ~ 3 Months 
	<input type="radio" name="duration" value="6"> ~ 6 months 
	<input type="radio" name="duration" value="12"> ~ A Year + <br>
<div class=photos_input>
Main Photo:<br>
	<input type="file" name="main_photo" required><br>
Other Photos:<br>
	<input type="file" name="photo_1" required><br>
	<input type="file" name="photo_2" required><br>
	<input type="file" name="photo_3" required><br>
</div>
Bedrooms: <br>
	<input type="radio" name="bedrooms" value="1"> 1 
	<input type="radio" name="bedrooms" value="2"> 2  
	<input type="radio" name="bedrooms" value="3"> 3  
	<input type="radio" name="bedrooms" value="4"> 4 
	<input type="radio" name="bedrooms" value="5"> 5 
	<input type="radio" name="bedrooms" value="6"> 6+ <br>
Bathrooms: <br>
	<input type="radio" name="bathrooms" value="1"> 1 
	<input type="radio" name="bathrooms" value="2"> 2 
	<input type="radio" name="bathrooms" value="3"> 3 
	<input type="radio" name="bathrooms" value="4"> 4 
	<input type="radio" name="bathrooms" value="5"> 5 
	<input type="radio" name="bathrooms" value="6"> 6+ <br>
Laundry?: <br> 
	<input type="radio" name="laundry" value="True"> Yep! 
	<input type="radio" name="laundry" value="False"> Nope. <br>
Pets Allowed?: <br> 
	<input type="radio" name="pets" value="True"> Yep! 
	<input type="radio" name="pets" value="False"> Nope. <br>
Description: <br>
	<textarea maxlength="50" name="description">
	</textarea><br>
Will you be living there?: <br> 
	<input type="radio" name="living_there" value="True"> Yep! 
	<input type="radio" name="living_there" value="False"> Nope. <br>
Roommates:<br>
	{% for user in users %}
	<input type="checkbox" name="roommates" value="{{ user.user_id }}"> {{user.user_id}}
	{% endfor %}
	<br>
	<input type="submit" value="Create Listing!">	
</form>
</div>


{% endblock %} -->