{% extends 'base.html' %}
{% block title %}{{ listing.listing_id }}{% endblock %}
{% block content %}

<a href="/"> Homepage </a><br><br>
{% if session.get("current_user") and not lister %}
	{% if not favorite %}
		<form action="/add_favorite" method="POST">
			<input type="hidden" name="listing_id" value="{{ listing.listing_id }}">
			<input type="submit" value="Favorite This Listing"><br><br>
		</form>
	{% endif %}
	{% if favorite %}
		<form action="/remove_favorite" method="POST">
			<input type="hidden" name="listing_id" value="{{ listing.listing_id }}">
			<input type="submit" value="Unfavorite This Listing"><br><br>
		</form>
	{% endif %}
	<div id="chat_form"> 
		<form action="/add_message" method="POST">
			<textarea maxlength="500" name="message">
			</textarea><br>
			<input type="hidden" name="user_id" value="{{ listing.primary_lister }}">
			<input type="submit" value="Send Primary Lister a Message">
		</form>
	</div>
{% endif %}


{% if session.get("current_user") == listing.primary_lister %}
	Change primary lister to: 
	<form action="/change_primary" method="POST">
		<select name="new_primary" required>
		{% for user in listing.users %}
  			<option value="{{ user.user_id }}">{{ user.user_id }}</option>
		{% endfor %}
		</select><br>
		<input type="hidden" name="listing_id" value="{{ listing.listing_id }}">
		<input type="submit" value="Change Primary Lister"><br><br>
	</form><br>
	{% if listing.active %}
		<form action="/deactivate_listing" method="POST">
			<input type="hidden" name="listing_id" value="{{ listing.listing_id }}">
			<input type="submit" value="Take This Listing off the Market"><br><br>
		</form>
	{% endif %}

	{% if not listing.active %}
		<form action="/reactivate_listing" method="POST">
			<input type="hidden" name="listing_id" value="{{ listing.listing_id }}">
			When is it avail?:<br>
			<input type="date" name="avail"><br>
			<input type="submit" value="Put This Listing Back on the Market"><br><br>
		</form>
	{% endif %}
{% endif %}

{% if lister %}
	<form action="/remove_self_as_roommate" method="POST">
		<input type="hidden" name="listing_id" value="{{ listing.listing_id }}">
		<input type="submit" value="Remove Yourself As A Roommate"><br><br>
	</form>

	Add A Roommate to This Listing: <br> 
	<form action="/add_roommate" method="POST">
		User Name: <br>
		<select name="roomie" required>
		{% for user in users %}
  			<option value="{{ user.user_id }}">{{ user.user_id }}</option>
		{% endfor %}
		<input type="hidden" name="listing_id" value="{{ listing.listing_id }}">
		<input type="submit" value="Add Roommate">
		</select>
	</form>

	Remove a Roommate from This Listing: <br> 
	<form action="/remove_roommate" method="POST">
		User Name: <br>
		<select name="roomie" required>
		{% for user in listing.users %}
  			<option value="{{ user.user_id }}">{{ user.user_id }}</option>
		{% endfor %}
		<input type="hidden" name="listing_id" value="{{ listing.listing_id }}">
		<input type="submit" value="Remove Roommate">
		</select>
	</form>
{% endif %}
<br><br><br>

{% if friends %}
	You have friends living here!<br>
	{% for friend in friends %}
		{{ friend.user_id }}<br>
		<a href="/users/{{ friend.user_id }}">
				<img src="{{ friend.photo }}" class="small_photo"><br>
		</a><br>
	{% endfor %}
{% endif %}

{% if mutuals and not friends %}
	There are people living here who are friends of: <br>
	{% for mutual in mutuals %}
		{{ mutual.user_id }}<br>
		<a href="/users/{{ mutual.user_id }}">
				<img src="{{ mutual.photo }}" class="tiny_photo"><br>
		</a><br>
	{% endfor %}
{% endif %}
<h1>{{ listing. address }}</h1>
<div id="map" data-address="{{ listing.address }}"></div><br>
<img src="{{ listing.main_photo }}" class="big_photo"><br>

{% for photo in listing.photos %}
	<img src="{{ photo.photo }}" class="big_photo"><br>
{% endfor %}
Neighborhood: {{ listing.neighborhood }}<br>
Monthly Price: {{ listing.price }}<br>
{{ listing.description }}<br>
Bedrooms: {{ listing.bedrooms }}<br>
Bathrooms: {{ listing.bathrooms }}<br>
Laundry: {{ listing.laundry }}<br>
Pets: {{ listing.pets }} <br><br><br>

{% if primary_lister %}
Primary Lister (not living on premises):<br>
	<a href="/users/{{ primary_lister.id }}"><br>
				<img src="{{ primary_lister.photo }}" class="small_photo"><br>
				{{ primary_lister.id }}
	</a><br><br>
{% endif %}
Roommates: 
<br>
	{% for user in listing.users %}
		<a href="/users/{{ user.user_id }}" class="user" data-user-id="{{ user.user_id }}"><br>
				<img src="{{ user.photo }}" class="small_photo"><br>
				{{ user.user_id }}
				{% if user.user_id == listing.primary_lister %}
				<br>(Primary Lister)
				{% endif %}
		</a>
	{% endfor %}
<script src="../static/js/maps.js"> </script>
{% endblock %}



