{% extends 'base.html' %}
{% block title %}{{ listing.address }}{% endblock %}
{% block content %}


{% for photo in listing.photos %}
	<img src="{{ photo }}"><br>
	Neighborhood: {{ listing.neighborhood }}<br>
	Monthly Price: {{ listing.price }}<br>
	{{ listing.description }}
	Bedrooms: {{ listing.bedrooms }}<br>
	Bathrooms: {{ listing.bathrooms }}<br>
	Laundry: {{ listing.laundry }}<br>
	Pets: {{ listing.pets }} <br>
{% endfor %}

Roommates: 
<br>
<ul>
	{% for user in listing.users %}
	<li>
		<a href="/users/{{ user.user_id }}">
				<img src="{{ user.photo }}"><br>
				{{ user.user_name }}
		</a>
	</li>
	{% endfor %}
</ul>

	

{% endblock %}



