{% extends 'base.html' %}
{% block title %} My Page {% endblock %}
{% block content %}

	<h1> Mailbox </h1>
	<div class="new_message_thread">
		 &#9993; Start a Convo:<br>
		<form action="/add_message" method="POST">
			<select name="user_id" required>
			{% for user in all_users %}
	  				<option value="{{ page_user.user_id }}">{{ page_user.user_id }}</option>
			{% endfor %}
			</select><br>
			<textarea maxlength="500" name="message"></textarea><br>
			<input type="submit" value="Send a Message"><br>
		</form>
	</div><br><br>

	{% for partner in message_dict %}
		<div class="message_thread">
			<form action="/delete_convo" method="POST">
				<input type="hidden" name="user_id" value="{{ partner }}">
				<input type="submit" value="Delete Thread with {{ partner }}">
			</form>
			<div id="convo"></div>
				<div id="{{ partner }}" class="conversation" data-last="{{ message_dict[partner][-1][0] }}" data-sender="{{ partner }}">
					{{ partner }}:<br>
						{% for message in message_dict[partner] %}
							{{ message[1] }}<br>
						{% endfor %}
				</div>

			<form action="/add_message" data-last="{{ message_dict[partner][-1][0]}}" data-receiver="{{ partner }}" class="add_message" method="POST">
				<textarea maxlength="500" id="{{partner}}message" name="message">
				</textarea><br>
				<input type="hidden" name="user_id" value="{{ partner }}">
				<input type="submit" value="Send {{ partner }} a Message">
			</form>
		</div>
	{% endfor %}<br><br>
		</div>

	<div class="profile">
		Only you can see this:<br>
			<img src="{{ page_user.photo }}" class="big_photo" class="profile_picture"><br>
			USER_NAME: {{ page_user.user_id }}<br>
			EMAIL: {{ page_user.email }}<br>
			BIO: {{ page_user.bio }}<br>
			STATE: {{ page_user.state }}<br>
			<div id="looking_or_not">
			LOOKING FOR APT: {{ page_user.looking_for_apt }}<br>
				{% if page_user.looking_for_apt %}
					<button id="deactivate"> Not Currently Looking For Apt? </button>
				{% endif %}
				{% if not page_user.looking_for_apt %}
					<button id="activate"> Looking Once More! </button>
				{% endif %}
			</div>
			Answers: <br>
			{% for answer in page_user.answers %}
			{{  answer.question.question }}: {{ answer.answer }}<br>
			{% endfor %}<br>
	</div>		
		<div id="my-favorites">
			&hearts; Favorites: <br> 
			{% for listing in page_user.favorites %}
					<a href="/listings/{{ listing.listing_id }}">
							<img src="{{ listing.main_photo }}">
					</a>
			{% endfor %}
		</div>

	<div id="my-listings">
		Listings: <br> 
			{% for listing in page_user.listings %}
					<a href="/listings/{{ listing.listing_id }}">
							<img src="{{ listing.main_photo }}"> 
					</a>
			{% endfor %}

			{% for property in properties %}
					<a href="/listings/{{ property.listing_id }}">
							<img src="{{ property.main_photo }}">
					</a>
			{% endfor %}
	</div>



	<a href="/add_listing"> Add A Listing </a>

		
	<script src="/static/js/mailbox.js"></script>
	<script src="/static/js/my_profile.js"></script>
{% endblock %}
