{% extends 'base.html' %}
{% block title %}Create Your Profile{% endblock %}
{% block content %}
<a href="/"> Homepage </a>

<div>
Tell us a little about yourself: 
<form action="/make_user_profile" method="POST" enctype="multipart/form-data">
User Name (how others will see you listed):<br>
	<input type="text" name="user_name" required><br>
Full Name:<br>
	<input type="text" name="full_name" required><br>
Phone Number:<br>
	<input type="text" name="phone" required><br>
State: 
	<select name="state" required>
	{% for state in STATES %}
  		<option value="{{ state }}">{{ state }}</option>
	{% endfor %}
	</select><br>
Are you currently looking for an apartment?<br>
	<input type="radio" name="looking" value="True" checked> Yes! <br>
	<input type="radio" name="looking" value="False"> Nope. <br>
Quick Bio:<br>
	<textarea maxlength="50" name="bio">
	</textarea><br>
Profile Photo:<br>
	<input type="file" name="photo" required><br>
Email: <br>
	<input type="email" name="email" required><br>
Password: <br>
	<input type="password" name="password" required><br>
Short Answer Qs: <br> 
	{% for question in questions %}
	{{ question.question }} <br> 
		{% for answer in question.answers %}
			<input type="radio" name="{{ question.question_id }}" value="{{ answer.answer_id }}" required> {{ answer.answer }} <br>
		{% endfor %}<br>
	{% endfor %}
Friends:<br>
	{% for user in users %}
	<input type="checkbox" name="friends" value="{{ user.user_id }}"> {{user.user_id}}
	{% endfor %}
	<br><br>
Add Yourself to Listings: <br>
	{% for listing in listings %}
	<input type="checkbox" name="listings" value="{{ listing.listing_id }}"> {{ listing.listing_id }}
	{% endfor %}
	<br><br>
	<input type="submit" value="Create Profile!">	
</form>
</div>


{% endblock %}