{% extends 'base.html' %}
{% block title %}{{user.user_id}}{% endblock %}
{% block content %}


{% if session.get("current_user") == user.user_id %} 
	Only you can see this: 
	<div id="photo" class="big_photo"> <img src="{{ user.photo }}"> </div>
	<div id="user_name"> USER_NAME: {{ user.user_id }} </div>
	<div id="email"> EMAIL: {{ user.email }} </div>
	<div id="bio"> BIO: {{ user.bio }} </div>
	<div id="state"> STATE: {{ user.state }} </div>
	<div id="looking"> LOOKING FOR APT?: {{ user.looking_for_apt }} </div>
{% else %}

	<h1> USER_NAME: {{ user.user_id }} </h1>
	<img src="{{ user.photo }}" class="big_photo">
	<p> BIO: {{ user.bio }} </p>
	STATE: {{ user.state }}<br>
	LOOKING FOR APT?: {{ user.looking_for_apt }}

{% endif %}

<ul>
	{% for listing in user.listings %}
		<li>
			<a href="/listings/{{ listing.listing_id }}">
				{{ listing.neighborhood }}<br>
				{% if photos %}
				<img src="{{ photos.get(listing.listing_id) }}" class="small_photo"><br><br><br>
				{% endif %}
			</a>
		</li>
	{% endfor %}
</ul>

{% if session.get("current_user") == user.user_id %} 
	<a href="/add_listing"> Add A Listing </a>
{% endif %}
	

{% endblock %}
