{% extends 'base.html' %}
{% block title %}{{page_user.user_id}}{% endblock %}
{% block content %}

<h1> {{ page_user.user_id }} </h1>
{% if session.get("current_user") %}

	<div id="chat_form"> <br>
		<form action="/add_message" method="POST">
			<textarea maxlength="500" name="message">
			</textarea><br><br>
			<input type="hidden" name="user_id" value="{{ page_user.user_id }}">
			<input type="submit" value="&#9993; Send {{ page_user.user_id }} a Message &#9993;" class="purple_button btn">
		</form><br>
	</div><br><br>
{% endif %}
<div id="friends_or_not">
	{% if session.get("current_user") and not are_friends %}
		<button id="friend" data-user-id="{{ page_user.user_id }}" class="search_button btn"> Add {{ page_user.user_id }} as a Friend </button><br><br>
		{% if mutuals %}
		Mutual Friends:<br>
			{% for mutual in mutuals %}
				<a href="/users/{{ mutual.user_id }}"><br>
						<img src="{{ mutual.photo }}" class="tiny_photo"><br>
				</a>
			{% endfor %}
		{% endif %}
	{% endif %}<br><br>
</div>
	<div class="profile">
		<img src="{{ page_user.photo }}" class="big_photo profile_pic">
		<p><br> BIO: {{ page_user.bio }} </p>
		STATE: {{ page_user.state }}<br>
		LOOKING FOR APT?: {{ page_user.looking_for_apt }}<br>
		{% if common_answers %}
			<br>You both said: <br>
					{% for answer in common_answers %}
						{{ answer }}<br>
					{% endfor %}
		{% endif %}<br>

		<h3>Answers: </h3>
		{% for answer in page_user.answers %}
			{{  answer.question.question }}: {{ answer.answer }}<br>
		{% endfor %}<br>
	</div>


<div id="my-listings">
{% if page_user.venmo %}
	<a href="https://www.venmo.com/{{page_user.venmo}}">Send {{ page_user.user_id }} rent<br><img src = "../static/images/venmo.png"></a><br>
{% endif %}
<h1>Listings:</h1> <br>
	{% for listing in page_user.listings %}
			<a href="/listings/{{ listing.listing_id }}" class="side_by_side">
					<img src="{{ listing.main_photo }}" class="medium_photo"><br><br>
					{{ listing.address }}<br>
			</a>
	{% endfor %} <br><br>
{% if properties %}
	<h1>Listings where {{ page_user.user_id }} does not live on premises:</h1><br>
		{% for property in properties %}
				<a href="/listings/{{ property.listing_id }}" class="side_by_side">
						<img src="{{ property.main_photo }}" class="medium_photo"><br><br>
						{{ property.address }}<br>
				</a>
		{% endfor %}
{% endif %}
</div>
	
<script src="/static/js/user_profile.js"> </script>
{% endblock %}
