{% extends 'base.html' %}
{% block title %}{{ state }}{% endblock %}
{% block content %}


{% if users %}
	<h1>{{ state }}:</h1> <br>
	{% for user in users %}
			<a href="/users/{{ user.user_id }}" class="user" data-user-id="{{ user.user_id }}">
				<img src="{{ user.photo }}" class="medium_photo"><br>
				{{ user.user_id }}
 			</a><br><br>  
	{% endfor %}
{% else %}
	Sorry!  None of your friends have friends in {{ state }}
{% endif %}
<script src="/static/js/scripts.js"></script>
{% endblock %}