{% extends 'base.html' %}
{% block title %}{{user.user_id}}{% endblock %}
{% block content %}
<a href="/"> Homepage </a><br>

{% if session.get("current_user") %}
	<div id="chat_form"> 
		<form action="/add_message" method="POST">
			<textarea maxlength="500" name="message">
			</textarea><br>
			<input type="hidden" name="user_id" value="{{ user.user_id }}">
			<input type="submit" value="Send {{ user.user_id }} a Message">
		</form>
	</div>
{% endif %}

{% if session.get("current_user") and not are_friends %}
	<form action="/add_as_friend" method="POST">
		<input type="hidden" name="user_id" value="{{ user.user_id }}">
		<input type="submit" value="Add This User as a Friend"><br><br>
	</form>
	{% if mutuals %}
		Mutual Friends:<br>
		{% for mutual in mutuals %}
			<a href="/users/{{ mutual.user_id }}"><br>
						<img src="{{ mutual.photo }}" class="small_photo"><br>
			</a>
		{% endfor %}
	{% endif %}
{% endif %}

	<h1> USER_NAME: {{ user.user_id }} </h1>
	<img src="{{ user.photo }}" class="big_photo">
	<p> BIO: {{ user.bio }} </p>
	STATE: {{ user.state }}<br>
	LOOKING FOR APT?: {{ user.looking_for_apt }}<br><br><br>
	{% if common_answers %}
		You both said: <br>
				{% for answer in common_answers %}
					{{ answer }}<br>
				{% endfor %}
	{% endif %}<br>

	Answers: <br>
	{% for answer in user.answers %}
		{{  answer.question.question }}: {{ answer.answer }}<br>
	{% endfor %}<br>



<div id="my-listings">
Listings: <br> 
	{% for listing in user.listings %}
			<a href="/listings/{{ listing.listing_id }}">
					<img src="{{ listing.main_photo }}">
			</a>
	{% endfor %} <br>
{% if properties %}
	Listings where {{ user.user_id }} does not live on premises:<br>
		{% for property in properties %}
				<a href="/listings/{{ property.listing_id }}">
						<img src="{{ property.main_photo }}">
				</a>
		{% endfor %}
{% endif %}
</div>

{% if session.get("current_user") == user.user_id %} 
	<a href="/add_listing"> Add A Listing </a>
{% endif %}
	

{% endblock %}
